.content
{
    max-width: 800px;
    margin: auto;
    border: 5px solid blue;
}

table.zpravy_vypis
{
    border: 5px solid black;
}

table.zpravy_vypis td
{
    width: 200px;
}

table.zpravy_cist
{
    margin-right: 20px;
    margin-bottom: 20px;
}

table.zpravy_cist td
{
    width: 200px;
}

table.zpravy_cist td.zpravy_text
{
    width: auto;
    text-align: justify;
}

table.sluzby td
{
    width: 200px;
}

/*
 Paginace
*/

ul.paginace li {
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid #DDDDDD;
    margin-left: -1px;
    text-align: center;
}

ul.paginace li:hover {
    background: #fAfAfA;
}

ul.paginace li.neaktivni {
    color: #DDDDDD;
}

ul.paginace li.aktivni {
    color: white;
    background: #3b94e0;
}

ul.paginace a {
        text-decoration: none;
}

/*
 Ostatní
*/

.centrovany {
        text-align: center;
}

.navigace {
    z-index: 99;
    float: left;
}

.navigace a, .navigace a:hover, .navigace a:visited {
    text-decoration: none;
    color: #ffffff;
}

ul.navigace li ul {
    display: none;
    list-style: none;
}

ul.navigace li {
    list-style: none;
    height: 35px;
    width: 150px;
    background:#02517F;
    text-align:center;
    padding-top:12px;
    border-right:2px solid white;
    color:#ffffff; 
    overflow: visible !important;
}

ul.navigace li:hover {
    background: #466A7F;
    text-align:center;
}

ul.navigace ul {
    margin-top: 17px;
    position: absolute;
    opacity: 0.95;
    
}

ul.navigace li ul li {
    margin-left: -40px;
}

ul.navigace li:hover > ul {display:block;}
ul.navigace li ul li {background: #db8e34;}
ul.navigace li ul li:hover {background: #466A7F;}

