.content
{
    max-width: 1400px;
    margin: auto;
    border: 5px solid blue;
}

table.zpravy_vypis
{
    width: 100%;
    border: 5px solid black;
}

table.zpravy_vypis td
{
    width: 100px;
}

table.zpravy_cist
{
    margin-right: 20px;
    margin-bottom: 20px;
}

table.zpravy_cist td
{
    width: 200px;
}

table.zpravy_cist td.zpravy_text
{
    width: auto;
    text-align: justify;
}

table.sluzby td
{
    width: 200px;
}

/*
 Paginace
*/

ul.paginace li {
    padding: 4px 10px;
    border: 1px solid #DDDDDD;
    margin-left: -1px;
    text-align: center;
}

ul.paginace li:hover {
    background: #fAfAfA;
}

ul.paginace li.neaktivni {
    color: #DDDDDD;
}

ul.paginace li.aktivni {
    color: white;
    background: #3b94e0;
}

ul.paginace a {
    text-decoration: none;
}

/*
 Ostatní
*/

.centrovany {
    text-align: center;
}

.menu ul{
    list-style-type:none;
    padding:0;
    text-transform: uppercase;
}
/* make the top level links horizontal and position relative so that we can position the sub level */
.menu li{
    float:left;
    position:relative;
    z-index:100;
}

/* use the table to position the dropdown list */
.menu table{
    position: absolute;
    border-collapse: collapse;
    z-index: 80;
    left:-1px;
    top:25px;
}

/* style all the links */
.menu a, .menu :visited {
    font-family: calibri;
    display:block;
    font-size:18px;
    width:167px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:0;
    padding-right:0;
    color: #FFFFFF;
    background: brown;
    text-decoration:none;
    margin-right:1px;
    text-align:center;
    border-left: 2px solid white;
}
/* style the links hover */
.menu :hover{
    color:#444;
    background:#d4d8bd;
}

/* hide the sub level links */
.menu ul ul {
    visibility:hidden;
    position:absolute;
    width:168px;
    height:0;
}

.menu ul ul li {  
    width:165px;
}

/* make the sub level visible on hover list or link */
.menu ul li:hover ul,
.menu ul a:hover ul{
    visibility:visible;
}

